<div class="d-flex justify-content-center align-items-center" style="height:100%;">
    <div class="panelbackground-container">
      <span class="close mr-3 mt-1" style="text-align: right;cursor:pointer" (click)="goWelcome()">×</span>
                      <div class="row">  
                          <div class="col-sm-6"><h4>{{title | titlecase}}</h4></div>
                      </div>
                      <br/>
                      <div class="row">  
                        <div class="col"><button type="button" (click)='backButton()' class="btn btn-secondary btn-rounded float-right mb-2">{{locale.commons_back}}</button></div>
                    </div>
                    <app-richtable 
                        (emitterPage)='displayPage($event)' [title]="title" [pageable]='pageable' [adminModule]="'Y'"
                        [tableCols]='columns' [tableLabels]='labels' [tableData]='rows' [hideActionColumn]='false'
                        [sortDirection]="'ASC'" [sortPosition]="'1'" (emitterSort)="changeSort($event)"
                        (emitterItensPerPage)="changeItensPerPage($event)">
                      </app-richtable>
</div> 