<div class="d-flex justify-content-center align-items-center" style="height:100%;">
    <div class="panelbackground-container">
      <div class="row">  
          <div class="col-sm-6"><h4>{{title | titlecase}}</h4></div>
          <div class="col-sm-6"><button type="button" (click)='backButton()' class="btn btn-secondary btn-rounded float-right mb-2">{{locale.commons_back}}</button></div>
      </div>
      <br/>
      <app-richtable 
        (emitterPage)='displayPage($event)' [title]="title" [pageable]='pageable' [adminModule]="'Y'"
        [tableCols]='columns' [tableLabels]='labels' [tableData]='rows' [hideActionColumn]='false'>
      </app-richtable>
    </div>
</div> 