<div class="d-flex justify-content-center align-items-center" style="height:100%;">
    <div id="login-modal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
      <div class="loginmodal-container ">
              <h1>Create a new Category</h1><br>
              <!--<form  [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="form-group" #f="ngForm" > -->
                        <input id="name" formControlName="name" type="text" name="name" class="form-control" placeholder="Category Name" >
              <div *ngIf="submitted && categoryForm.controls.name.errors" class="form-group alert alert-danger" role="alert">
                <div *ngIf="submitted && categoryForm.controls.name.errors.required">Category NAME is required</div>
                <div *ngIf="submitted && categoryForm.controls.name.errors.minlength">Category name must be at least 4 characters</div>
            </div>					  
        
                        <input type="submit" name="createCategory" class="login loginmodal-submit" value="Create">
                        <div class="form-group">
                              <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                                      Category failed: {{ errorMessage }}
                              </div>
                        </div> 
              <!--</form>-->
             
      </div>
  </div>    
  </div>