.h1-welcome{
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.5rem;
    color: #fff!important;
}

.mask-welcome{
    height: 100%;
    width: 100%; 
    background-image:url('../../../../../assets/imgs/background/pen-purple.png')!important;
}

.welcome-container{
    margin-top: 5rem;
}

@media (max-width: 768px) {
    .mobile-overflow{
        overflow-y: auto!important;
    }
    .welcome-container{
        margin-top: 1rem;
    }
}

.mobile-overflow{
    overflow-y: hidden;
}

@media (max-width: 280px) {
    .h1-welcome{
        font-size: 1.3rem!important;
    }
    
  }