    <div class="mask bg-gradient-default opacity-8" style="height: 100%;width: 100%; background-image:url('../../../../../assets/imgs/background/pen-purple.png')!important;">
        <!-- img de fundo-->
        <div class="mask bg-gradient-default opacity-8 panelbackground-container" style="overflow-y: hidden;">
            <!-- card braco-->
            <div style="margin-top: 1rem;max-height: 30rem;" class="main main-raised">
                <div id="welcome-title-main" >
                    <div class="row">
                        <div class="mt-5 col px-5 py-5">
                              <h1 class="text-white">Welcome {{userName}}</h1> 
                              <p style="text-align: justify;" class="text-white mt-2 mb-5">This is your admin tool. You can <strong>register/activate/inactivate questions</strong> which will be the preferences for app users. The users respond those questions when they subscribe on app and we use this answers to help them to find a match, so those questions are very important. You can see the app <strong>users registered</strong>, you can <strong>block,unblock app users</strong> you also can <strong>emulate the app user register</strong> through this tool and you can <strong>create administrative users</strong>. Please use the <strong>right top menu</strong> for access these features.</p>
                        </div>
              
                    </div>      
              </div>
            </div>    
        </div>
    </div> 
 