<div id="welcome-title" >
      <div class="row">
          <div class="mt-5 col px-5 py-5">
                <h1 class="text-white">Welcome {{userName}}</h1>
                <p style="text-align: justify;" class="text-white mt-2 mb-5">This is your admin tool. You can <strong>register/activate/inactivate questions</strong> which will be the preferences for app users. The users respond those questions when they subscribe on app and we use this answers to help them to find a match, so those questions are very important. You can see the app <strong>users registered</strong>, you can <strong>block,unblock app users</strong> you also can <strong>emulate the app user register</strong> through this tool and you can <strong>create administrative users</strong>. Please use the <strong>right top menu</strong> for access these features.</p>
          </div>

      </div>      
</div>

<div class="d-flex justify-content-center align-items-center" style="height:100%;">
  <div id="login-modal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="loginmodal-container ">
            <h1>Login to Your Account</h1><br>
            <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-group" #f="ngForm" > 
					  <input id="email" formControlName="email" type="email" name="email" class="form-control" placeholder="Email" >
            <div *ngIf="submitted && loginForm.controls.email.errors" class="form-group alert alert-danger" role="alert">
              <div *ngIf="submitted && loginForm.controls.email.errors.required">Email is required</div>
              <div *ngIf="submitted && loginForm.controls.email.errors.email">Email must be a valid email address</div>
          </div>					  
            <input id="password" formControlName="password" type="password" name="password" class="form-control mt-2" placeholder="Password">
            <div *ngIf="submitted && loginForm.controls.password.errors" class="form-group alert alert-danger" role="alert">
              <div *ngIf="submitted && loginForm.controls.password.errors.required">Password is required</div>
              <div *ngIf="submitted && loginForm.controls.password.errors.minlength">Password must be at least 8 characters</div>
              <div *ngIf="submitted && loginForm.controls.password.errors.pattern">Weak password</div>
          </div>
					  <input type="submit" name="login" class="login loginmodal-submit" value="Login">
					  <div class="form-group">
							<div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
									Login failed: {{ errorMessage }}
							</div>
					  </div> 
            </form>
            <div class="login-help">
					      <a style="cursor: pointer;" (click)="goForgot()">Forgot Password</a>
            </div>
    </div>
</div>    
</div>
