<div style="height: 100%;width: 100%;">
    <div class="panelbackground-container">
      <span class="close mr-3 mt-1" style="text-align: right;cursor:pointer" (click)="goWelcome()">×</span> 
                      <div class="row">  
                          <div class="col"><h4>{{title | titlecase}}</h4></div>
                        </div>
                        <div class="row">  
                          <div class="col">
                                  <button *ngIf="rows?.length > 0" type="button" (click)="onSubmit()" class="ml-3 btn btn-purple btn-rounded float-right mb-2">{{locale.quiz_save}}</button>
                                  <button *ngIf="rows?.length > 0" type="button" (click)="preview()" class="btn btn-secondary btn-rounded float-right mb-2">{{locale.quiz_preview}}</button>
                          </div>
                        </div>
                      <div *ngIf="rows?.length <= 0" >
                            <br/><br/>
                      </div>
                      <div *ngIf="rows?.length <= 0" class="alert alert-danger" style="text-align: center;" role="alert">
                            {{locale.quiz_nocategory}}
                      </div>
                      <br/>

                              <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">     
                                <div class="example-box" *ngFor="let item of rows" cdkDrag>
                                       {{item.quizOrder}} - {{item.question}}
                                        
                                </div>        
                              </div>
<!--
                      <form  [formGroup]="quizOrderForm" class="form-group" #f="ngForm" >
                        <app-richtable [basicInfoForm]="quizOrderForm.controls.basicInfoForm" *ngIf="rows?.length > 0" [title]="title"  (childID)='answers($event)'
                        [tableCols]='columns' [tableLabels]='labels' [tableData]='rows' [hideActionColumn]="'false'">
                        </app-richtable>
                      </form>
                    -->
</div> 

<app-modal [modalID]="modalId" [hideCloseBtn]="hideBtn" [title]="titleModal"  (clickOK)="confirmOperation()" [hideAction]="hideAction"
[bgColorTitle]="bgColorTitle" [fgColorTitle]="fgColorTitle" [lblBtnOK]="lablelButton" [style]="'max-width: 562px!important'">

    <div *ngIf="!showForm" [innerHtml]="content" ></div> 
    <div *ngIf="showForm">    
      <div  class="table-responsive-xl">
      <table class="table caption-top table-bordered table-hover table-info">
        <thead class="thead-dark">
          <tr>            
            <th *ngFor="let label of answersLabels" scope="col">{{label | uppercase}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of answersData" scope="row">
            <th *ngFor="let col of answersCols">
              <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('date') === true">{{ obj[col] *1 | date:'dd/MM/yyyy hh:mm:ss' }}</div>  
              <div *ngIf="col.includes('date') === false">
   
          
              <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('number') === false">
                {{ obj[col]==='Y'?'YES':obj[col]==='N'?'NO' : obj[col] }}
              </div>
              
              <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('number') === true">
                <a class="link" style="cursor: pointer;" (click)="accessChild(obj['id']);">{{ obj[col] }}</a>
              </div>

            </div> 
            </th>
            
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>               
</app-modal>