<div style="height: 100%;width: 100%;">
    <div class="panelbackground-container">
      <span class="close mr-3 mt-1" style="text-align: right;cursor:pointer" (click)="goWelcome()">×</span>
      <div class="card-header bg-white border-0">
        <div class="row">
          <div class="col">
            <div class="card-body">  
      <div class="row">  
          <div class="col-sm-6"><h4>{{locale.quiz_preview_title}} - {{this.currentIndex+1}} {{locale.commons_of}} {{this.rows.length}} {{locale.menu_qa_questions}}</h4></div>
          <div class="col-sm-6">
                  <button type="button" (click)="back()" class="btn btn-secondary btn-rounded float-right mb-2">{{locale.commons_back}}</button>
          </div>
      </div>
      <br/>
      <div class="border" style="padding: 2%;">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="getPercentual()" aria-valuemin="0" aria-valuemax="100" style="width: {{getPercentual()}}%;">
          <span class="sr-only">{{getPercentual()}} Complete</span>
        </div>
      </div>
      <br>
      <h1 class="question">{{rows[currentIndex]?.question}}</h1>
        <div data-toggle="buttons" style="text-align: center;">
            <div *ngFor="let answer of rows[currentIndex]?.answers;let i=index;" class="row">
            <div class="col">
              <label *ngIf="rows[currentIndex]?.isMultipleChoice == 'Y'" class="btn btn-purple">
                <input type="checkbox" name="options" id="option1"> {{answer?.answer}}
              </label>
              <label *ngIf="rows[currentIndex]?.isMultipleChoice == 'N'" class="btn btn-purple">
                <input type="radio" name="options" id="option1"> {{answer?.answer}}
              </label>

            </div>
            </div>
      </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <button type="button" (click)="nextQuestion()" class="ml-3 btn btn-secondary btn-rounded float-right mb-2">{{locale.commons_next}}</button>
            <button type="button" (click)="previousQuestion()" class="btn btn-secondary btn-rounded float-right mb-2">{{locale.commons_previous}}</button>
        </div>

    </div>
    </div>
    </div>
    </div>
    </div>
</div>
</div> 

<app-modal [modalID]="modalId" [hideCloseBtn]="hideBtn" [title]="titleModal"  (clickOK)="confirmOperation()"
[bgColorTitle]="bgColorTitle" [fgColorTitle]="fgColorTitle" [lblBtnOK]="lablelButton" [style]="'max-width: 562px!important'">

    <div *ngIf="!showForm" [innerHtml]="content" ></div> 
    <div *ngIf="showForm">    
      <table class="table caption-top table-bordered table-hover table-info">
        <thead class="thead-dark">
          <tr>            
            <th *ngFor="let label of answersCols" scope="col">{{label | uppercase}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of answersData" scope="row">
            <th *ngFor="let col of answersCols">
              <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('date') === true">{{ obj[col] *1 | date:'dd/MM/yyyy hh:mm:ss' }}</div>  
              <div *ngIf="col.includes('date') === false">
   
          
              <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('number') === false">
                {{ obj[col]==='Y'?'YES':obj[col]==='N'?'NO' : obj[col] }}
              </div>
              
              <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('number') === true">
                <a class="link" style="cursor: pointer;" (click)="accessChild(obj['id']);">{{ obj[col] }}</a>
              </div>

            </div> 
            </th>
            
          </tr>
         
        </tbody>
      </table>
  </div>               
</app-modal>