<div class="d-flex justify-content-center align-items-center" style="height:100%;">
      <div class="panelbackground-container">
        <div class="row">  
            <div class="col-sm-6"><h4>Categories</h4></div>
            <div class="col-sm-6"><button (click)="btnClick();" type="button" class="btn btn-primary btn-rounded float-right mb-2">Add New</button></div>
        
        
        </div>
        <div class="border" style="padding: 2%;">
            
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="all" checked>
              <label class="form-check-label" for="exampleRadios1">
                      All
                  </label>
            </div>
          
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="inactive">
              <label class="form-check-label" for="exampleRadios2">
                      Inactive
                  </label>
            </div>
          
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="active">
              <label class="form-check-label" for="exampleRadios3">
                      Active
                  </label>
            </div>
            
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for category...">            
    </div>       
    <br/>
      <div class="table-responsive-xl">
        <table class="table caption-top table-bordered table-hover table-dark ">
            <caption>
                List of categories
              </caption>
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NAME</th>
              <th scope="col">AUTHOR</th>
              <th scope="col">QUESTIONS</th>
              <th scope="col">STATUS</th>
              <th scope="col">ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Bootstrap 4 CDN and Starter Template</td>
              <td>Cristina</td>
              <td>2.846</td>
              <td>Active</td>
              <td>
                <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-success"><i class="fa fa-edit"></i></button>
              <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
              </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Bootstrap 4 CDN and Starter Template</td>
                <td>Cristina</td>
                <td>2.846</td>
                <td>Active</td>
                <td>
                  <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                  <button type="button" class="btn btn-success"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Bootstrap 4 CDN and Starter Template</td>
                <td>Cristina</td>
                <td>2.846</td>
                <td>Active</td>
                <td>
                  <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                  <button type="button" class="btn btn-success"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Bootstrap 4 CDN and Starter Template</td>
                <td>Cristina</td>
                <td>2.846</td>
                <td>Active</td>
                <td>
                  <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                  <button type="button" class="btn btn-success"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Bootstrap 4 CDN and Starter Template</td>
                <td>Cristina</td>
                <td>2.846</td>
                <td>Active</td>
                <td>
                  <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                  <button type="button" class="btn btn-success"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Bootstrap 4 CDN and Starter Template</td>
                <td>Cristina</td>
                <td>2.846</td>
                <td>Active</td>
                <td>
                  <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                  <button type="button" class="btn btn-success"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
                </td>
              </tr>
            <tr>
              <th scope="row">2</th>
              <td>Bootstrap Grid 4 Tutorial and Examples</td>
              <td>Cristina</td>
              <td>3.417</td>
              <td>Active</td>
              <td>
                <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-success"><i class="fa fa-edit"></i></button>
              <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bootstrap Flexbox Tutorial and Examples</td>
              <td>Cristina</td>
              <td>1.234</td>
              <td>Inactive</td>
              <td>
                <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-success"><i class="fa fa-edit"></i></button>
              <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <nav class="pagination-outer" aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a href="#" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item active"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a href="#" class="page-link" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
        <br/>
      </div>
       </div>
</div>              

