@import url(http://fonts.googleapis.com/css?family=Roboto);
.table{
    font-size: 13px!important;
    font-family: 'Roboto'!important;
}

.table-image {
    td, th {
      vertical-align: middle;
    }
  }

.inactive {
    text-decoration: line-through;
}

.pagination-outer{ text-align: center; }
.pagination{
    font-family: 'Merriweather', serif;
    display: inline-flex;
}
.pagination li a.page-link{
    color: #333;
    background: #e7e7e7;
    font-size: 15px;
    font-weight: 300;
    line-height: 23px;
    height: 25px;
    width: 25px;
    padding: 0;
    margin: 0 5px;
    border: none;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease 0.2s;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link{
    color: #fff;
    background: black;
    box-shadow: 0 0 10px -2px rgba(0,0,0,0.3);
}
.pagination li:first-child a.page-link,
.pagination li:last-child a.page-link{
    line-height: 24px;
    transition: all 0.5s ease 0s;
}
.pagination li a.page-link:before{
    content: '';
    background-color: black;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -15px;
    z-index: -1;
    transition: all 0.5s ease 0s;
}
.pagination li.active a.page-link:before,
.pagination li a.page-link:hover:before{
    opacity: 0;
    top: 50%;
}
.pagination li:first-child a.page-link:before,
.pagination li:last-child a.page-link:before{
    display: none;
}
@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        display: block;
    }
    .pagination li{
        display: inline-block;
        margin: 0 0 10px;
    }
}

.error-text {
    color: rgb(165, 112, 112);
}
.error {
    border: 1px solid red;
}
