<ng-container  *ngIf="basicInfoForm">
  <div  *ngIf="tableData" class="table-responsive-xl">
    <table class="table caption-top table-bordered table-hover {{colorTable}} ">
        <caption>
            {{locale.commons_listof}} {{title}}
          </caption>
      <thead class="{{colorTableHeader}}">
        <tr>            
          <th *ngFor="let label of tableLabels" scope="col">{{label | uppercase}}</th>
          <th *ngIf="hideActionColumn == 'true' || onlyDeleteAction == 'true' " scope="col">{{locale.commons_actions}}</th>
        </tr>
      </thead>
      <ng-container   [formGroup]="basicInfoForm">
      <tbody>
        <ng-container  formArrayName="items">
        <tr *ngFor="let obj of tableData;let i=index;" scope="row" >
          <ng-container   [formGroupName]="i">

          
          <th *ngFor="let col of tableCols">
            <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('date') === true">{{ obj[col] *1 | date:'dd/MM/yyyy hh:mm:ss' }}</div>  
            <div *ngIf="col.includes('date') === false">
 
              <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('quizOrder') === true">
                <input type="hidden"  formControlName="questionID" name="questionID" value="1" >
                <input type="text" digitOnly [ngClass]="{'error error-text': !basicInfoForm.controls.items.controls[i].controls.questionOrder.value}" formControlName="questionOrder" size="5%" maxlength="2" name="questionOrder" value="{{obj[col]}}" >
              </div> 
              <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('quizOrder') === false">
                <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('number') === false">
                  {{ obj[col]==='Y'?'Yes':obj[col]==='N'?'No' : obj[col] >= 0 ? obj[col] : (obj[col].includes('@') ==true?obj[col]:obj[col])}}
                </div>
                
                <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('number') === true">
                  <a *ngIf="obj[col] > 0" class="link" style="cursor: pointer;" (click)="accessChild(obj);">{{ obj[col] }}</a>
                  <ng-container *ngIf="obj[col] <= 0" >{{ obj[col] }}</ng-container>
                </div>
    
              </div>

          </div> 
          </th>
          <td *ngIf="hideActionColumn == 'true' ">
            <ng-container *ngIf="obj['active']==='N'">
                <button type="button" (click)="activatedClick(obj);" title="{{locale.commons_activate}}" class="btn btn-purple-secondary"><i class="fa fa-eye"></i></button>
            </ng-container>
            <ng-container *ngIf="obj['active']==='Y'">
              <button type="button" (click)="editClick(obj);" title="{{locale.commons_edit}}" class="btn btn-purple-secondary"><i class="fa fa-edit"></i></button>
              &nbsp;<button type="button" (click)="deleteClick(obj);" title="Delete" class="btn btn-danger"><i class="fa fa-times"></i></button>
            </ng-container> 
             
              &nbsp;<button type="button" (click)="auditClick(obj);" title="{{locale.commons_audit}}" class="btn btn-secondary"><i class="fa fa-camera-retro"></i></button>
          </td>
          <td *ngIf="onlyDeleteAction == 'true' ">
                <button type="button" (click)="deleteClick(obj);" title="{{locale.commons_delete}}" class="btn btn-danger"><i class="fa fa-times"></i></button>
          </td>
        </ng-container>
        </tr>
      </ng-container>
      </tbody>
    </ng-container>
    </table>
    <nav class="pagination-outer" aria-label="Page navigation">
        <ul *ngIf="pageable" class="pagination">
            <li *ngIf="pageable.totalPages > 1" [ngClass]="{'disabled': pageable.first}" class="page-item">
                <a (click)="pageClick(0)" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
            <ng-container *ngIf="pageable.totalPages > 1">
              <li  *ngFor='let number of fakeArray() ;let i = index' [ngClass]="{'active disabled': i === pageable.pageNumber}" class="page-item">
                <a class="page-link" (click)="pageClick(i)">{{i}}</a>
              </li>
            </ng-container>
            <li *ngIf="pageable.totalPages > 1" [ngClass]="{'disabled': pageable.last}" class="page-item">
                <a (click)="pageClick(pageable.totalPages-1)" class="page-link" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </nav>
    <br/>
  </div>
</ng-container>
<ng-container  *ngIf="!basicInfoForm">
  <div  *ngIf="tableData" class="table-responsive-xl">
    <table class="table caption-top table-bordered table-hover {{colorTable}} ">
        <caption>
            {{locale.commons_listof}} {{title}}
          </caption>
      <thead class="{{colorTableHeader}}">
        <tr>            
          <th *ngFor="let label of tableLabels;let z=index;" scope="col">
            <ng-container *ngIf="sortExclusion == z">
                    {{label |   uppercase}}
            </ng-container>
            <ng-container *ngIf="sortExclusion != z">
                  <ng-container *ngIf="adminModule != 'Y'">
                        <a (click)="onClickColumn(label,z)" [ngClass]="{'sort-by-up': tableLabelsDirections[z] ==='DESC','sort-by-down': tableLabelsDirections[z] ==='ASC'}"  class="sort-by">
                          {{label |   uppercase}}
                        </a>  
                  </ng-container>  
                  <ng-container *ngIf="adminModule === 'Y'">
                        <a (click)="onClickColumn(label,z)" [ngClass]="{'sort-by-admin-up': tableLabelsDirections[z] ==='DESC','sort-by-admin-down': tableLabelsDirections[z] ==='ASC'}"  class="sort-by-admin">
                          {{label |   uppercase}}
                        </a>  
                  </ng-container>  
            </ng-container>
          </th>
          <th *ngIf="hideActionColumn == 'true' || onlyDeleteAction == 'true' " scope="col">{{locale.commons_actions}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of tableData;let i=index;" scope="row" >
         
          
          <td *ngFor="let col of tableCols;let i=index;">
            <!-- se o nome do campo tiver date faz tratamento para data-->
            <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('date') === true">{{ obj[col] *1 | date:'dd/MM/yyyy hh:mm:ss' }}</div>  
            <!-- tratamento para campos que nao tem date no nome-->
            <div *ngIf="col.includes('date') === false">
 
            <!-- se nao tiver number no nome do campo-->  
            <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('number') === false">
              <!-- se nao tiver number e tiver blocked no nome do campo coloca link accessunblocked-->
              <ng-container *ngIf="col.includes('blocked') === true">
                <a *ngIf="obj[col]==='Y'" class="link" style="cursor: pointer;" (click)="accessUnblocked(obj);">{{ obj[col] }}</a>
                <ng-container *ngIf="obj[col]==='N'" >{{ obj[col]==='Y'?'Yes':obj[col]==='N'?'No' : obj[col] }}</ng-container>
              </ng-container>
              <!-- coloca tooltip na direita para as 2 primeiras colunas-->
              <ng-container *ngIf="i < 3">
                <ng-container *ngIf="col.includes('blocked') === false">
                  <ng-container *ngIf="col.includes('id') === true || col.includes('tablePK') === true">
                    {{obj[col]}}
                  </ng-container>
                  <p *ngIf="obj[col]?.length>26" attr.data-tooltip="{{obj[col]}}" data-tooltip-location="right">{{ obj[col]==='Y'?'Yes':obj[col]==='N'?'No' : obj[col]?.length>26? ((obj[col] | slice:0:26)+'...'):(obj[col]) }}</p>
                  <ng-container *ngIf="obj[col]?.length<=26">
                    {{ obj[col]==='Y'?'Yes':obj[col]==='N'?'No' : obj[col]?.length>26? ((obj[col] | slice:0:26)+'...'):(obj[col].includes('@') ==true?obj[col]:obj[col]) }}
                  </ng-container> 
                  <ng-container *ngIf="col.includes('weight') === true">
                    {{obj[col]}}
                   </ng-container>

                </ng-container>
  
              </ng-container>
              <!-- coloca tooltip na esquerda para as outras colunas-->
              <ng-container *ngIf="i >= 3">
                <ng-container *ngIf="col.includes('blocked') === false">
                   <ng-container *ngIf="col.includes('weight') === true">
                    {{obj[col]}}
                   </ng-container>
                  
                  <p *ngIf="obj[col]?.length>26" attr.data-tooltip="{{obj[col]}}" data-tooltip-location="left">{{ obj[col]==='Y'?'Yes':obj[col]==='N'?'No' : obj[col]?.length>26? ((obj[col] | slice:0:26)+'...'):(obj[col]) }}</p>
                  <ng-container *ngIf="obj[col]?.length<=26">
                    {{ obj[col]==='Y'?'Yes':obj[col]==='N'?'No' : obj[col]?.length>26? ((obj[col] | slice:0:26)+'...'):(obj[col].includes('@') ==true?obj[col]:obj[col]) }}
                  </ng-container> 
                </ng-container>
  
              </ng-container>

            </div>
            
            <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('number') === true">
              <a class="link" style="cursor: pointer;" (click)="accessChild(obj);">{{ obj[col] }}</a>
              <!-- *ngIf="obj[col] > 0" <ng-container *ngIf="obj[col] <= 0" >{{ obj[col] }}</ng-container>-->
            </div>

          </div> 
          </td>
          <td *ngIf="hideActionColumn == 'true' " class="td-flex-container">
            <ng-container *ngIf="obj['active']==='N'">
              <ng-container *ngIf="adminModule == 'Y' && obj['login'] != sub">
                <button type="button" (click)="activatedClick(obj);" title="{{locale.commons_activate}}"  class="btn btn-info"><i class="fa fa-eye"></i></button>
              </ng-container>
              <ng-container *ngIf="adminModule != 'Y' && obj['login'] != sub">
                <button type="button" (click)="activatedClick(obj);" title="{{locale.commons_activate}}"  class="btn btn-purple-secondary"><i class="fa fa-eye"></i></button>
              </ng-container>

            </ng-container>
            <ng-container *ngIf="obj['active']==='Y'">
              <ng-container *ngIf="adminModule == 'Y' && obj['login'] != sub">
                <button type="button" (click)="editClick(obj);" title="{{locale.commons_edit}}" class="btn btn-info"><i class="fa fa-edit"></i></button>
                &nbsp;<button type="button" (click)="deleteClick(obj);" title="{{locale.commons_delete}}" class="btn btn-danger"><i class="fa fa-times"></i></button>  
              </ng-container>
              <ng-container *ngIf="adminModule != 'Y' && obj['login'] != sub">
                <button type="button" (click)="editClick(obj);" title="{{locale.commons_edit}}" class="btn btn-purple-secondary"><i class="fa fa-edit"></i></button>
                &nbsp;<button type="button" (click)="deleteClick(obj);" title="{{locale.commons_delete}}" class="btn btn-danger"><i class="fa fa-times"></i></button>                  
              </ng-container>
            </ng-container> 
             
              &nbsp;<button type="button" (click)="auditClick(obj);" title="{{locale.commons_audit}}" class="btn btn-secondary"><i class="fa fa-camera-retro"></i></button>
          </td>
          <td *ngIf="onlyDeleteAction == 'true' ">
                <button type="button" (click)="deleteClick(obj);" title="{{locale.commons_delete}}" class="btn btn-danger"><i class="fa fa-times"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav class="pagination-outer" aria-label="Page navigation">
        <ul *ngIf="pageable" class="pagination">
          <li *ngIf="pageable.totalPages > 1">
              <select (change)="onChange($event.target.value)" name="itensPerPage" id="itensPerPage">
                  <option value="06">06</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
              </select>
          </li>
            <li *ngIf="pageable.totalPages > 1" [ngClass]="{'disabled': pageable.first}" class="page-item">
                <a (click)="pageClick(0)" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
            <ng-container *ngIf="pageable.totalPages > 1">
              <li  *ngFor='let number of fakeArray() ;let i = index' [ngClass]="{'active disabled': i === pageable.pageNumber}" class="page-item">
                <a class="page-link" (click)="pageClick(i)">{{i}}</a>
              </li>
            </ng-container>
            <li *ngIf="pageable.totalPages > 1" [ngClass]="{'disabled': pageable.last}" class="page-item">
                <a (click)="pageClick(pageable.totalPages-1)" class="page-link" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </nav>
    <br/>
  </div>
</ng-container>

           

