<div id="overlayLoading" class="overlay" >
  <div id="spinnerWrapper" class="spinner-wrapper">
    <app-spinner></app-spinner>

  </div>
</div>
<div  id="header" style="top: 0px;left: 0px; width: 100%;height: 9%;">
      <nav id="navBarHorizontal" class="navbar navbar-expand-sm navbar-dark fixed-top bg-purple" >
        <a class="navbar-brand" href="#" style="border: solid 1px">
          <img src="../assets/imgs/logo.png" alt="BLINDLY">
        </a>
        <div id="timeExpired">
          <app-timer ></app-timer>
        </div>
        <div id="showUserName" class="ml-2" style="font-size:small"></div>
        <div id="menuContent" class="ml-auto mt-2 mt-lg-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link " routerLink="app_users/dashboard"><i class="fa fa-desktop"></i> Dashboard</a>
            </li>
            <li class="nav-item">
              <div class="btn-group">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><i class="fa fa-user"></i> Users</a>
                    <div class="dropdown-menu dropdown-menu-right bg-purple" aria-labelledby="navbarDropdownUsers">
                      <a class="nav-link bg-dark-dropdownitem" routerLink="app_users/list"><i class="fa fa-users"></i> AppUsers</a>
                      <a class="nav-link bg-dark-dropdownitem" routerLink="admin_users/list"><i class="fa fa-id-card"></i> AdminUsers</a>
                      <div class="dropdown-divider"></div>
                      <a class="nav-link bg-dark-dropdownitem" routerLink="admin_users/profile"><i class="fa fa-user-circle"></i> Profile</a>
                    </div>
              </div>
      
            </li> 
            <li class="nav-item" >
              <div class="btn-group">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownQuiz" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-edit"></i> Q&A</a>
                  <div class="dropdown-menu dropdown-menu-right bg-purple" aria-labelledby="navbarDropdownquiz">
                    <a class="nav-link bg-dark-dropdownitem" routerLink="categories/list"><i class="fa fa-tags"></i> Categories</a>
                    <a class="nav-link bg-dark-dropdownitem" routerLink="questions/list"><i class="fa fa-question"></i> Questions</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link bg-dark-dropdownitem" routerLink="questions/quiz"><i class="fa fa-clipboard"></i> Quiz</a>
                  </div>
            </div>
            </li>                      
            <li class="nav-item">
              <a class="nav-link" (click)="logout()" href="#"><i class="fa fa-sign-out"></i> Logout</a>
            </li> 
          </ul>
        </div>
      </div>
      </nav> 
</div>
<div style="position:relative;height:84%;">
      <div id="body" class="" style="height: 100%;width:100%">  
             <router-outlet></router-outlet>
      </div>
</div>
<div id="footer" style="position: relative; bottom: 0px;left: 0px; width: 100%;height: 9%;">
      <footer  class="fixed-bottom page-footer font-small blue bg-purple" >
        <!-- Copyright -->
        <div class="text-white footer-copyright text-center py-3">© 2021 Copyright:
          <a href="https://www.mundodastribos.com/" target="_blank" style="color: white;"> mundodastribos.com</a>
        </div>
        <!-- Copyright -->
      </footer>
</div>
	