
<nav id="navBarHorizontal" class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src="../assets/imgs/logo.png" alt="BLINDLY">
  </a>
  <div id="menuContent" class="ml-auto mt-2 mt-lg-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link " href="#"><i class="fa fa-desktop"></i> Dashboard</a>
      </li>
      <li class="nav-item">
        <div class="btn-group">
              <a class="nav-link dropdown-toggle" id="navbarDropdownUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><i class="fa fa-user"></i> Users</a>
              <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdownUsers">
                <a class="nav-link bg-dark-dropdownitem" href="#"><i class="fa fa-users"></i> AppUsers</a>
                <a class="nav-link bg-dark-dropdownitem" href="#"><i class="fa fa-id-card"></i> AdminUsers</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link bg-dark-dropdownitem" href="#"><i class="fa fa-user-circle"></i> Profile</a>
                <a class="nav-link bg-dark-dropdownitem" href="#"><i class="fa fa-key"></i> Reset Password</a>
              </div>
        </div>

      </li> 
      <li class="nav-item" >
        <div class="btn-group">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownQuiz" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-edit"></i> Q&A</a>
            <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdownquiz">
              <a class="nav-link bg-dark-dropdownitem" href="#"><i class="fa fa-tags"></i> Categories</a>
              <a class="nav-link bg-dark-dropdownitem" href="#"><i class="fa fa-question"></i> Questions</a>
              <div class="dropdown-divider"></div>
              <a class="nav-link bg-dark-dropdownitem" href="#"><i class="fa fa-clipboard"></i> Quiz</a>
            </div>
      </div>
      </li>                      
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" href="#"><i class="fa fa-sign-out"></i> Logout</a>
      </li> 
    </ul>
  </div>
</div>
</nav> 

<div class="container-fluid" style="height: 99%;">
  <router-outlet></router-outlet>
</div>
  <!-- Footer -->
  <footer  class="fixed-bottom page-footer font-small blue bg-dark">
    <!-- Copyright -->
    <div class="text-white footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://www.mundodastribos.com/"> mundodastribos.com</a>
    </div>
    <!-- Copyright -->
  </footer>