  .logo-title{
    padding: 0.87rem 1.25rem;
font-size: 1.2rem;
  }

  .menu-mobile {
    cursor: pointer;
  }
  
  .svg-icon:hover {
    opacity: 0.8;
  }

  .svg-icon {
    width: 1em;
    height: 1.5em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: rgba(0,0,0,.5);;
  }
  
  .svg-icon circle {
    stroke: rgba(0,0,0,.5);;
    stroke-width: 1;
  }
  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

img.avatar {
  width: 30px;
  height: 30px;
  float: left;
  animation-name: none !important;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(189, 184, 184);
  border-image: initial;
  border-radius: 60px;
}
