<div style="height: 100%;width: 100%;">
    <div class="panelbackground-container">
      <div class="row">  
          <div class="col-sm-6"><h4>{{title | titlecase}}</h4></div>
          <div class="col-sm-6"><button type="button" (click)="addNew()" class="btn btn-purple btn-rounded float-right mb-2">Add New</button></div>
      </div>
      <div id="accordion">
       
              
              <button class="btn btn-link" (click)='changeCollapseLabel()' aria-expanded="true" aria-controls="collapseQuestion">
                <span class="fa " [ngClass]="{'fa-plus' :stateCollapse , 'fa-minus' : !stateCollapse}" > FILTERS</span>
              </button>
       
          <div id="collapseQuestion" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <div class="border" style="padding: 2%;">
                <form  [formGroup]="questionFilterForm" class="form-group" #f="ngForm" > 
                  <div class="row">
                    <div class="col">      
                          <div class="form-check form-check-inline">
                                  <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType1" value="all" >
                                  <label class="form-check-label" for="filterType1">
                                          All
                                  </label>
                          </div>        
                          <div class="form-check form-check-inline">
                                  <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType2" value="inactive">
                                  <label class="form-check-label" for="filterType2">
                                          Inactive
                                  </label>
                          </div>
                  
                          <div class="form-check form-check-inline">
                                      <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType3" value="active">
                                      <label class="form-check-label" for="filterType3">
                                              Active
                                      </label>
                          </div>
                      </div>
                  </div>
                       
                  <div class="row">
                    
                      <div class="col">
                            <input formControlName="filterCategory" class="form-check-input" type="hidden" name="filterCategory" id="filterCategory">
                            <app-combobox (category)="setupCategory($event)" [placeholder]="'Select one category'" [list]="itemList"></app-combobox>
                            <!--<div *ngIf="submitted && questionFilterForm.controls.filterCategory.errors" class="mt-1 form-group alert alert-danger" role="alert">
                              <div *ngIf="submitted && questionFilterForm.controls.filterCategory.errors.required">Category NAME is required</div>
                          </div>-->
                      </div>
        
                  </div>
                  <div class="row mt-2">
                        <div class="col">
                                <input formControlName="name" style="outline: none!important;"  type="text" id="myInput" placeholder="Search for {{title}}..."> 
                                <div *ngIf="submitted && questionFilterForm.controls.name.errors" class="mt-1 form-group alert alert-danger" role="alert">
                                  <div *ngIf="submitted && questionFilterForm.controls.name.errors.minlength">Question name must be at least 4 characters</div>
                              </div>
    
                              </div>
                        <div class="col-sm-auto mt-2">
                                  &nbsp;&nbsp;<button type="button" (click)="onSubmit();" title="Search" class="btn btn-purple-secondary">&nbsp;&nbsp;&nbsp;Filter&nbsp;&nbsp;&nbsp;</button> 
                        </div>
                  </div>          
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger" role="alert" *ngIf="submitted && errorMessage">
                        Search failed: {{ errorMessage }}
                        </div>              
                </div>
            </div>
            </form> 
          </div>   
                    </div>
          </div>
        </div>

   
  <br/>

<app-richtable 
(emitterPage)='displayPage($event)' (deleteID)='exclude($event)' (activateID)='activated($event)'
[title]="title" [pageable]='pageable' (editID)='edit($event)' (auditID)='audit($event)' (childID)='answers($event)'
[tableCols]='columns' [tableLabels]='labels' [tableData]='rows' [hideActionColumn]="'true'">
</app-richtable>

</div>
</div> 

<app-modal [modalID]="modalId" [title]="titleModal"  (clickOK)="confirmOperation()"
[bgColorTitle]="bgColorTitle" [fgColorTitle]="fgColorTitle" [lblBtnOK]="lablelButton" [style]="'max-width: 562px!important'">

    <div *ngIf="!showForm" [innerHtml]="content" ></div> 
    <div *ngIf="showForm">    
      <table class="table caption-top table-bordered table-hover table-info">
        <thead class="thead-dark">
          <tr>            
            <th *ngFor="let label of answersCols" scope="col">{{label | uppercase}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of answersData" scope="row">
            <th *ngFor="let col of answersCols">
              <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('date') === true">{{ obj[col] *1 | date:'dd/MM/yyyy hh:mm:ss' }}</div>  
              <div *ngIf="col.includes('date') === false">
   
          
              <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('number') === false">
                {{ obj[col]==='Y'?'YES':obj[col]==='N'?'NO' : obj[col] }}
              </div>
              
              <div [ngClass]="{'inactive': obj['active']==='N'}" *ngIf="col.includes('number') === true">
                <a class="link" style="cursor: pointer;" (click)="accessChild(obj['id']);">{{ obj[col] }}</a>
              </div>

            </div> 
            </th>
            
          </tr>
         
        </tbody>
      </table>
  </div>               
</app-modal>