<div style="height: 100%;width: 100%;">
        <div class="panelbackground-container card shadow">
            <span class="close" style="text-align: right;cursor:pointer" (click)="goWelcome()">×</span>
          <div class="myrow">
                <div class="col d-flex">
                        <div class="card shadow flex-fill">
                                 <div class="card bg-white border-0">
                                    <div class="card-header"><h5>{{locale.menu_users_dash}}</h5></div>
                                    <div class="card-body pt-0 pt-md-4">
                                        <div class="row mt-2 ml-2 mr-2">
                                            <div class="col">
                                                <a *ngIf="data.completed > 0" class="link" style="cursor: pointer;text-decoration: none;" (click)="goDetail('completed');">
                                                    <div class="panel panel-dark panel-colorful">
                                                        <div class="panel-body text-center">
                                                            <p class="text-uppercase mar-btm text-sm">{{locale.dash_completed}}</p>
                                                            <i class="fa fa-users fa-5x"></i>
                                                            <hr>
                                                            <p class="h2 text-thin">{{data.completed}}</p>
                                                            <small><span class="text-semibold"></span>{{locale.dash_totalusers}} {{data.total}}</small>
                                                        </div>
                                                    </div>
                                                </a>
                                                <ng-container *ngIf="data.completed <= 0">
                                                    <div class="panel panel-dark panel-colorful">
                                                        <div class="panel-body text-center">
                                                            <p class="text-uppercase mar-btm text-sm">{{locale.dash_completed}}</p>
                                                            <i class="fa fa-users fa-5x"></i>
                                                            <hr>
                                                            <p class="h2 text-thin">{{data.completed}}</p>
                                                            <small><span class="text-semibold"></span>{{locale.dash_totalusers}} {{data.total}}</small>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>  
                                            <div class="col">
                                                <a *ngIf="data.pending > 0" class="link" style="cursor: pointer;text-decoration: none;" (click)="goDetail('pending');">
                                                    <div class="panel panel-danger panel-colorful">
                                                        <div class="panel-body text-center">
                                                            <p class="text-uppercase mar-btm text-sm">{{locale.dash_pending}}</p>
                                                            <i class="fa fa-users fa-5x"></i>
                                                            <hr>
                                                            <p class="h2 text-thin">{{data.pending}}</p>
                                                            <small><span class="text-semibold"></span>{{locale.dash_totalusers}} {{data.total}}</small>
                                                        </div>
                                                    </div>    
                                                </a>
                                                <ng-container *ngIf="data.pending <= 0">
                                                    <div class="panel panel-danger panel-colorful">
                                                        <div class="panel-body text-center">
                                                            <p class="text-uppercase mar-btm text-sm">{{locale.dash_pending}}</p>
                                                            <i class="fa fa-users fa-5x"></i>
                                                            <hr>
                                                            <p class="h2 text-thin">{{data.pending}}</p>
                                                            <small><span class="text-semibold"></span>{{locale.dash_totalusers}} {{data.total}}</small>
                                                        </div>
                                                    </div>    
                                                </ng-container>
                                            </div>
                                            <div class="col">
                                                <a *ngIf="data.pending_Localization > 0" class="link" style="cursor: pointer;text-decoration: none;" (click)="goDetail('geolocation');">
                                                    <div class="panel panel-primary panel-colorful">
                                                        <div class="panel-body text-center">
                                                            <p class="text-uppercase mar-btm text-sm">{{locale.dash_geolocation}}</p>
                                                            <i class="fa fa-compass fa-5x"></i>
                                                            <hr>
                                                            <p class="h2 text-thin">{{data.pending_Localization}}</p>
                                                            <small><span class="text-semibold"><i class="fa fa-compass fa-fw"></i></span>{{locale.dash_totalusers}} {{data.total}}</small>
                                                        </div>
                                                    </div>

                                                </a>
                                                <ng-container *ngIf="data.pending_Localization <= 0">
                                                    <div class="panel panel-primary panel-colorful">
                                                        <div class="panel-body text-center">
                                                            <p class="text-uppercase mar-btm text-sm">{{locale.dash_geolocation}}</p>
                                                            <i class="fa fa-compass fa-5x"></i>
                                                            <hr>
                                                            <p class="h2 text-thin">{{data.pending_Localization}}</p>
                                                            <small><span class="text-semibold"><i class="fa fa-compass fa-fw"></i></span>{{locale.dash_totalusers}} {{data.total}}</small>
                                                        </div>
                                                    </div>

                                                </ng-container>
                                            </div>
                                            <div class="col">
                                                <a *ngIf="data.pending_Localization > 0" class="link" style="cursor: pointer;text-decoration: none;" (click)="goDetail('geolocation');">
                                                    <div class="panel panel-primary panel-colorful">
                                                        <div class="panel-body text-center">
                                                            <p class="text-uppercase mar-btm text-sm">{{locale.dash_geolocation}}</p>
                                                            <i class="fa fa-compass fa-5x"></i>
                                                            <hr>
                                                            <p class="h2 text-thin">{{data.pending_Localization}}</p>
                                                            <small><span class="text-semibold"><i class="fa fa-compass fa-fw"></i></span>{{locale.dash_totalusers}} {{data.total}}</small>
                                                        </div>
                                                    </div>

                                                </a>
                                                <ng-container *ngIf="data.pending_Localization <= 0">
                                                    <div class="panel panel-primary panel-colorful">
                                                        <div class="panel-body text-center">
                                                            <p class="text-uppercase mar-btm text-sm">{{locale.dash_geolocation}}</p>
                                                            <i class="fa fa-compass fa-5x"></i>
                                                            <hr>
                                                            <p class="h2 text-thin">{{data.pending_Localization}}</p>
                                                            <small><span class="text-semibold"><i class="fa fa-compass fa-fw"></i></span>{{locale.dash_totalusers}} {{data.total}}</small>
                                                        </div>
                                                    </div>

                                                </ng-container>
                                            </div>
                                            <div *ngIf="myData" class="col">
                                                <h5 style="text-align:center">{{locale.dash_chartname}}</h5>
                                                <google-chart [type]="myChart" [data]="myData" [options]="myOptions"></google-chart>
                                            </div>
        
                                        </div>            
                                    </div>                                                                        
                                 </div>
                        </div>
                </div>  
          </div>
        </div>
</div>
