<div class="mask bg-gradient-default opacity-8" style="height: 100%;width: 100%; background-image:url('../../../../../assets/imgs/background/welcome-cover.jpg')!important;">
    <!-- img de fundo-->
    <div class="mask bg-gradient-default opacity-8 panelbackground-container" style="overflow-y: hidden;">
        <!-- card braco-->
        <div style="margin-top: 1rem;max-height: 30rem;" class="main main-raised">
            <div id="welcome-title-main" >
                <div class="row">
                    <div class="mt-5 col px-5 py-5">
                          <h1 class="text-white">Welcome {{userName}}</h1> 
                          <p style="text-align: justify;" class="text-white mt-2 mb-5">{{errorMessage}}.</p>
                    </div>
          
                </div>      
          </div>
        </div>    
    </div>
</div> 
