
  <div class="main-content">
    <!-- Top navbar -->
    <!-- Header -->
    <div id="welcome-title" class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; ">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="mt-4 col-xl-4 order-xl-2 mb-5 mb-xl-0 d-flex">
          <div style="height:29rem" class="card card-profile shadow flex-fill">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a >
                    <img *ngIf="appUser?.photos?.length > 0" src="{{'data:image/jpg;base64,' + appUser?.photos[0]?.photo}}" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <a style="color:white" (click)="backButton()" class="btn btn-sm btn-default">Back</a>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">{{appUser?.photos?.length}}</span>
                      <span class="description">Photos</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{appUser?.name | capitalizeFirst}}<span class="font-weight-light">, {{age}}</span>
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>{{appUser?.address?.city| capitalizeFirst}}, {{appUser?.address?.state| uppercase}}
                </div>
                <h3>
                  {{iconSigno}}<span class="font-weight-light"> {{labelSigno}}</span>
                </h3>
                <hr class="my-4"> 
                {{appUser?.personalData?.aboutme}}
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 col-xl-8 order-xl-1 d-flex">
          <div style="height:29rem;" class="card bg-secondary shadow flex-fill">
            <div class="card bg-white border-0">
              <div class="row align-items-center">
                <div class="col">
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a [ngClass]="{'active': buttonSelected == 'Personal Data'}" class="nav-link" (click)="showData('Personal Data')">Personal Data</a>
                    </li>
                    <li class="nav-item">
                      <a [ngClass]="{'active': buttonSelected == 'Address'}" class="nav-link" (click)="showData('Address')">Address</a>
                    </li>
                    <li class="nav-item">
                      <a [ngClass]="{'active': buttonSelected == 'Photos'}" class="nav-link" (click)="showData('Photos')">Photo</a>
                    </li>
                     <li class="nav-item">
                      <a [ngClass]="{'active': buttonSelected == 'Preferences'}" class="nav-link" (click)="showData('Preferences')">Preferences</a>
                    </li> 
                  </ul>
                </div>

              </div>
            </div>
            <div style="overflow-y: overlay;" class="card-body">
              <form>
                <div id="user_personalData" class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Name</label>
                        <input type="text" id="input-username" readonly class="form-control form-control-alternative" placeholder="" value="{{appUser?.name}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Login (e-mail)</label>
                        <input type="email" id="input-email" readonly class="form-control form-control-alternative" value="{{appUser?.login}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">BirthDate</label>
                        <input type="text" id="input-first-name" readonly class="form-control form-control-alternative" placeholder="" value="{{appUser?.personalData?.birthDate | date:'dd/MM/yyyy'}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Gender</label>
                        <input type="text" id="input-last-name" readonly class="form-control form-control-alternative" placeholder="" value="{{appUser?.personalData?.gender}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">Occupation</label>
                        <input type="text" id="input-first-name" readonly class="form-control form-control-alternative" placeholder="" value="{{appUser?.personalData?.occupation}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">Education Level</label>
                        <input type="text" id="input-first-name" readonly class="form-control form-control-alternative" placeholder="" value="{{appUser?.personalData?.educationLevel}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Marital Status</label>
                        <input type="text" id="input-last-name" readonly class="form-control form-control-alternative" placeholder="" value="{{appUser?.personalData?.maritalStatus}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Mobile Number</label>
                        <input type="text" id="input-last-name" readonly class="form-control form-control-alternative" placeholder="" value="{{appUser?.personalData?.mobileNumber}}">
                      </div>
                    </div>
                  </div>

                </div>
                <!-- Address -->
                <div id="user_address" style="display:none" class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">Address</label>
                        <input id="input-address" readonly class="form-control form-control-alternative" placeholder="" value="{{appUser?.address?.streetAddress }}" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">Address Line2</label>
                        <input id="input-address" readonly class="form-control form-control-alternative" placeholder="" value="{{appUser?.address?.streetAddressLine2}}" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-city">District</label>
                        <input type="text" id="input-city" readonly class="form-control form-control-alternative" placeholder="" value="{{appUser?.address?.district}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-city">City</label>
                        <input type="text" id="input-city" readonly class="form-control form-control-alternative" placeholder="" value="{{appUser?.address?.city}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-state">State</label>
                        <input type="number" id="input-state" readonly class="form-control form-control-alternative" placeholder="" value="{{appUser?.address?.state}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Postal code</label>
                        <input type="number" id="input-postal-code" readonly class="form-control form-control-alternative" placeholder="" value="{{appUser?.address?.zipCode}}">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Photo -->
                <div id="user_photo" style="display:none" class="pl-lg-4">
                  <ng-container *ngFor="let x of appUser?.photos;let j= index;">
                    <div class="row" *ngIf="j%3===0 && j<(appUser?.photos.length/3)+1">  
                      <ng-container *ngFor="let photo of appUser?.photos;let i= index;">
                          <div class="col-sm-4" ng-if="i>=3*j && i <= 3*(j+1)-1">
                                <div class="card">
                                  <a>
                                    <img *ngIf="appUser?.photos?.length > 0" style="width: 15rem;height: 15rem;" src="{{'data:image/jpg;base64,' + photo.photo}}" class="card-img-top">
                                  </a>
                                </div>
                          </div>
                      </ng-container>
                    </div>
                  </ng-container>
                   
                </div>  
                <!-- Preferences -->
                <div id="user_preferences" style="display:none" class="pl-lg-4">
                  <ng-container *ngFor="let resp of getBindedAnswers ;let i=index;" >
                    <div class="row mt-2">
                      <div class="col-md-12">
                        <label class="form-control-label">{{resp}}</label>
                        <ul *ngFor="let val of mapAnswers?.get(resp);let i=index;">
                          <li>
                            <span>{{val|capitalizeFirst}}</span>
                          </li>
                        </ul>
                      </div>

                    </div>
                    
    
                  </ng-container>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  