input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    box-sizing: initial;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #007bff!important;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    box-sizing: initial;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #007bbb!important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #007bff!important;
}