<div style="height: 100%;width: 100%;">
    <div class="panelbackground-container card shadow" style="overflow-y: auto;">
            <span class="close mr-3 mt-1" style="text-align: right;cursor:pointer" (click)="goWelcome()">×</span>
            <div class="row">
              <div class="col-sm-6">
                  <h4>{{locale.menu_users_app | titlecase}}</h4>
              </div>
      
            </div>
            
            <div id="accordion">
                    <button class="btn btn-secondary btn-rounded" (click)='changeCollapseLabel()' aria-expanded="true" aria-controls="collapseAppUser">
                        <span class="fa " [ngClass]="{'fa-plus' :stateCollapse , 'fa-minus' : !stateCollapse}" ></span>
                        <span style="font-family: 'roboto';font-size: 1rem;" class="fa ml-2">{{locale.commons_filter}}</span>
                    </button>
                 
                    <div id="collapseAppUser" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
        
                                                  <div class="border" style="padding: 2%;">
                                                    <form  [formGroup]="appUserFilterForm" class="form-group" #f="ngForm" > 
                                                      <div class="row">
                                                              <div class="col">      
                                                                  <div class="form-check form-check-inline">
                                                                      
                                                                        <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType1" value="all" >
                                                                        <label class="form-check-label" for="filterType1">
                                                                          {{locale.commons_all}}
                                                                            </label>
                                                                  </div>        
                                                                  <div class="form-check form-check-inline">
                                                                            <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType2" value="inactive">
                                                                            <label class="form-check-label" for="filterType2">
                                                                              {{locale.commons_inactive}}
                                                                                </label>
                                                                  </div>
                                                            
                                                                    <div class="form-check form-check-inline">
                                                                                <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType3" value="active">
                                                                                <label class="form-check-label" for="filterType3">
                                                                                  {{locale.commons_active}}
                                                                                    </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                      <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType4" value="blocked">
                                                                      <label class="form-check-label" for="filterType4">
                                                                        {{locale.dash_blocked}}
                                                                          </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                      <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType5" value="pending">
                                                                      <label class="form-check-label" for="filterType5">
                                                                        {{locale.dash_pending}}
                                                                          </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                      <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType6" value="completed">
                                                                      <label class="form-check-label" for="filterType6">
                                                                        {{locale.dash_completed}}
                                                                          </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                      <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType7" value="today">
                                                                      <label class="form-check-label" for="filterType7">
                                                                        {{locale.dash_userstoday}}
                                                                          </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                      <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType8" value="geolocation">
                                                                      <label class="form-check-label" for="filterType8">
                                                                        {{locale.dash_geolocation}}
                                                                          </label>
                                                                    </div>


                                                              </div>
                                                      </div>     
                                                      <div class="row">
                                                        <div class="col">
                                                          <input formControlName="name" style="outline: none!important;" type="text" id="myInput" placeholder="{{locale.appusers_namefield}}"> 
                                                       </div>
                                                     </div>
                                                     <div class="row">  
                                                        <div class="col">
                                                                  <input formControlName="login" style="outline: none!important;" type="text" id="myInput" placeholder="Login(e-mail)"> 
                                                            </div>
                                                     </div>
                                                     <div class="row">       
                                                            <div class="col-sm-auto mt-2">
                                                                  &nbsp;&nbsp;<button type="button" (click)="onSubmit();" title="{{locale.commons_search}}" class="btn btn-purple-secondary">&nbsp;&nbsp;&nbsp;{{locale.commons_search}}&nbsp;&nbsp;&nbsp;</button> 
                                                            </div>
                                                      </div>  
                                                      <div class="row">
                                                        <div class="col">
                                                          <div *ngIf="submitted && appUserFilterForm.controls.name.errors" class="mt-1 form-group alert alert-danger" role="alert">
                                                            <div *ngIf="submitted && appUserFilterForm.controls.name.errors.minlength">{{locale.appusers_namefieldminlength}}</div>
                                                        </div>				
                                                        </div>
                                                      </div>
                                                      <div class="row">
                                                        <div class="col">
                                                          <div *ngIf="submitted && appUserFilterForm.controls.login.errors" class="mt-1 form-group alert alert-danger" role="alert">
                                                            <div *ngIf="submitted && appUserFilterForm.controls.login.errors.email">{{locale.appusers_loginvalidemail}}</div>
                                                        </div>				
                                                        </div>
                                                      </div>

                                                      <div class="row">
                                                          <div class="col">
                                                              <div class="alert alert-danger" role="alert" *ngIf="submitted && errorMessage">
                                                                {{locale.commons_searchfailed}}: {{ errorMessage }}
                                                              </div>              
                                                          </div>
                                                      </div>
                                                    </form> 
                                                  </div>   
           
                          </div>
                      </div>
                      <div class="mt-2"></div>
              </div> 
                  <div class="card shadow">
  
                    <div class="card-header border-0">
                      <h3 class="mb-0">{{locale.menu_users_app}}</h3>
                    </div>
                    <div class="table-responsive">
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col"><a (click)="onClickColumn(0)" [ngClass]="{'sort-by-up': tableLabelsDirections[0] ==='DESC','sort-by-down': tableLabelsDirections[0] ==='ASC'}"  class="sort-by">{{locale.appusers_coluser}}</a></th>
                            <th scope="col"><a (click)="onClickColumn(1)" [ngClass]="{'sort-by-up': tableLabelsDirections[1] ==='DESC','sort-by-down': tableLabelsDirections[1] ==='ASC'}"  class="sort-by">{{locale.appusers_collogin}}</a></th>
                            <th scope="col"><a (click)="onClickColumn(2)" [ngClass]="{'sort-by-up': tableLabelsDirections[2] ==='DESC','sort-by-down': tableLabelsDirections[2] ==='ASC'}"  class="sort-by">{{locale.appusers_colstatus}}</a></th>
                            <th scope="col"><a (click)="onClickColumn(3)" [ngClass]="{'sort-by-up': tableLabelsDirections[3] ==='DESC','sort-by-down': tableLabelsDirections[3] ==='ASC'}"  class="sort-by">{{locale.appusers_colphotos}}</a></th>
                            <th scope="col"><a (click)="onClickColumn(4)" [ngClass]="{'sort-by-up': tableLabelsDirections[4] ==='DESC','sort-by-down': tableLabelsDirections[4] ==='ASC'}"  class="sort-by">{{locale.appusers_colcompletion}}</a></th>
                            <th scope="col">{{locale.appusers_colaction}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let obj of rows;let i=index;">
                            <th scope="row">
                              <div class="media align-items-center">
                                <a href="#" class="avatar rounded-circle mr-3">
                                  <img *ngIf="getStatus(obj) === 'Pending'" alt="Image placeholder" src="../../../../../assets/imgs/icons/pending.png">
                                  <img *ngIf="getStatus(obj) === 'Blocked'" alt="Image placeholder" src="../../../../../assets/imgs/icons/blocked.png">
                                  <img *ngIf="getStatus(obj) === 'Inactive'" alt="Image placeholder" src="../../../../../assets/imgs/icons/inactive.png">
                                  <img *ngIf="getStatus(obj) === 'Completed'" alt="Image placeholder" src="../../../../../assets/imgs/icons/diamond.png">
                                </a>
                                <div class="media-body">
                                  <span class="mb-0 text-sm">{{obj.name | titlecase}}</span>
                                </div>
                              </div>
                            </th>
                            <td>
                              {{obj.login}}
                            </td>
                            <td>
                              <span class="badge badge-dot mr-4">
                                <i *ngIf="getStatus(obj) === 'Pending'" class="bg-danger"></i> 
                                <i *ngIf="getStatus(obj) === 'Blocked'" class="bg-warning"></i> 
                                <i *ngIf="getStatus(obj) === 'Inactive'" class="bg-secondary"></i> 
                                <i *ngIf="getStatus(obj) === 'Active' || getStatus(obj) === 'Completed'" class="bg-success"></i> 
                                {{getStatusLocale(getStatus(obj))}}
                              </span>
                            </td>
                            <td>
                              <div *ngIf="obj.photos" class="avatar-group">
                                <a *ngFor="let photo of obj.photos;let i=index;" (click)="goDetails(obj)" style="cursor: pointer;" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="{{photo.fileName}}">
                                  <img alt="" style="width: 36px;height: 36px;" src="{{'data:image/jpg;base64,' + photo.photo}}" class="rounded-circle">
                                </a>
                              </div>
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <span class="mr-2">{{getPercentual(obj)}}%</span>
                                <div>
                                  <div class="progress">
                                    <div *ngIf="getStatus(obj) === 'Pending'" class="progress-bar bg-danger" role="progressbar" aria-valuenow="getPercentual(obj)" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+getPercentual(obj)+'%'}}"></div>
                                    <div *ngIf="getStatus(obj) === 'Blocked'" class="progress-bar bg-warning" role="progressbar" aria-valuenow="getPercentual(obj)" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+getPercentual(obj)+'%'}}"></div>
                                    <div *ngIf="getStatus(obj) === 'Inactive'" class="progress-bar bg-secondary" role="progressbar" aria-valuenow="getPercentual(obj)" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+getPercentual(obj)+'%'}}"></div>
                                    <div *ngIf="getStatus(obj) === 'Completed'" class="progress-bar bg-success" role="progressbar" aria-valuenow="getPercentual(obj)" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+getPercentual(obj)+'%'}}"></div>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td class="text-right">
                              <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fa fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                  <a class="dropdown-item" (click)="goDetails(obj)">{{locale.appuser_detailuser}}</a>
                                  <a *ngIf="obj.registerPhase === '0' && getStatus(obj) != 'Inactive' && getStatus(obj) != 'Blocked'" class="dropdown-item" (click)="goResendMail(obj)">{{locale.appuser_sendactivationemail}}</a>
                                  <a *ngIf="getStatus(obj) === 'Completed' || getStatus(obj) === 'Pending'" class="dropdown-item" (click)="goInactivate(obj)">{{locale.appuser_inactiveuser}}</a>
                                  <a *ngIf="getStatus(obj) === 'Inactive'" class="dropdown-item" (click)="goActivate(obj)">{{locale.appuser_activeuser}}</a>
                                  <a *ngIf="getStatus(obj) === 'Blocked'" class="dropdown-item" (click)="goUnblocked(obj)">{{locale.appuser_unblockeduser}}</a>
                                  <a class="dropdown-item" (click)="goAudit(obj)">{{locale.appuser_auditluser}}</a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <!--empty row-->
                          
                            <tr>
                              <td scope="col"></td>
                              <td scope="col"></td>
                              <td scope="col"></td>
                              <td scope="col"></td>
                              <td scope="col"></td>
                              <td scope="col"></td>
                            </tr>
                          
                        </tbody>
                      </table>
                    </div>
                    <div *ngIf="pageable" class="mt-4 card-footer py-4">
                      <nav aria-label="...">
                        <ul class="pagination justify-content-end mb-0">
                          <li *ngIf="pageable.totalPages > 1">
                            <select (change)="onChange($event.target.value)" name="itensPerPage" id="itensPerPage">
                                <option value="06">06</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                            </select>
                        </li>
              
                          <li *ngIf="pageable.totalPages > 1" [ngClass]="{'disabled': pageable.first}" class="page-item">
                            <a class="page-link" (click)="displayPage(currentPage-1)" tabindex="-1">
                              <i class="fa fa-angle-left"></i>
                              <span class="sr-only">{{locale.commons_previous}}</span>
                            </a>
                          </li>
                          <ng-container *ngIf="pageable.totalPages > 1"> 
                            <li *ngFor='let number of fakeArray() ;let i = index' [ngClass]="{'active': i == pageable.page.pageNumber}" class="page-item">
                              <a *ngIf="i == pageable.page.pageNumber" class="page-link" >{{i}}
                                <span *ngIf="i == pageable.page.pageNumber" class="sr-only">(current)</span>
                              </a>
                              <ng-container *ngIf="i != pageable.page.pageNumber"> 
                                <a class="page-link" (click)="displayPage(i)">{{i}}</a>
                              </ng-container>
                            </li>
                          </ng-container>
            
                          <li *ngIf="pageable.totalPages > 1" [ngClass]="{'disabled': pageable.last}" class="page-item">
                            <a class="page-link" (click)="displayPage(currentPage+1)">
                              <i class="fa fa-angle-right"></i>
                              <span class="sr-only">{{locale.commons_next}}</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
        </div>
      </div>  

</div>      
<app-modal [modalID]="modalId" [hideCloseBtn]="hideBtn" [title]="titleModal" [adminModule]="'Y'"  (clickOK)="confirmOperation()"
[bgColorTitle]="bgColorTitle" [fgColorTitle]="fgColorTitle" [lblBtnOK]="lablelButton" [hideAction]="hideAction">

    <div *ngIf="!showForm" [innerHtml]="content" ></div> 
    <div *ngIf="showForm">    
        <div id="login-modal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="loginmodal-container ">       
          </div>
          </div>
  </div>               
</app-modal>