<div style="height: 100%;width: 100%;">

      <div style="height: 100%" class="row">

        <div class="mt-1 col">
          <div class="panelbackground-container card shadow">
            <div class="card-header bg-white border-0">
              <div class="row">

                <div class="col">
                  <div id="accordion">
                    <button class="btn btn-link" (click)='changeCollapseLabel()' aria-expanded="true" aria-controls="collapseAppUser">
                      <span class="fa " [ngClass]="{'fa-plus' :stateCollapse , 'fa-minus' : !stateCollapse}" > FILTERS</span>
                    </button>
         
                    <div id="collapseAppUser" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
        
                                                  <div class="border" style="padding: 2%;">
                                                    <form  [formGroup]="appUserFilterForm" class="form-group" #f="ngForm" > 
                                                      <div class="row">
                                                              <div class="col">      
                                                                  <div class="form-check form-check-inline">
                                                                      
                                                                        <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType1" value="all" >
                                                                        <label class="form-check-label" for="filterType1">
                                                                                All
                                                                            </label>
                                                                  </div>        
                                                                  <div class="form-check form-check-inline">
                                                                            <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType2" value="inactive">
                                                                            <label class="form-check-label" for="filterType2">
                                                                                    Inactive
                                                                                </label>
                                                                  </div>
                                                            
                                                                    <div class="form-check form-check-inline">
                                                                                <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType3" value="active">
                                                                                <label class="form-check-label" for="filterType3">
                                                                                        Active
                                                                                    </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                      <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType4" value="blocked">
                                                                      <label class="form-check-label" for="filterType4">
                                                                              Blocked
                                                                          </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                      <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType5" value="pending">
                                                                      <label class="form-check-label" for="filterType5">
                                                                              Pending
                                                                          </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                      <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType6" value="completed">
                                                                      <label class="form-check-label" for="filterType6">
                                                                              Completed
                                                                          </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                      <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType7" value="today">
                                                                      <label class="form-check-label" for="filterType7">
                                                                              Today registered
                                                                          </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                      <input formControlName="filterType" class="form-check-input" type="radio" name="filterType" id="filterType8" value="geocode">
                                                                      <label class="form-check-label" for="filterType8">
                                                                              Missing geolocalization
                                                                          </label>
                                                                    </div>


                                                              </div>
                                                      </div>     
                                                      <div class="row">
                                                            <div class="col">
                                                                  <input formControlName="login" style="outline: none!important;" type="text" id="myInput" placeholder="Login(e-mail)"> 
                                                            </div>
                                                            <div class="col-sm-auto mt-2">
                                                                  &nbsp;&nbsp;<button type="button" (click)="onSubmit();" title="Search" class="btn btn-purple-secondary">&nbsp;&nbsp;&nbsp;Filter&nbsp;&nbsp;&nbsp;</button> 
                                                            </div>
                                                      </div>  
                                                      <div class="row">
                                                          <div class="col">
                                                              <div class="alert alert-danger" role="alert" *ngIf="submitted && errorMessage">
                                                                  Search failed: {{ errorMessage }}
                                                              </div>              
                                                          </div>
                                                      </div>
                                                    </form> 
                                                  </div>   
           
                          </div>
                      </div>
              </div> 
                  <div class="card shadow">
  
                    <div class="card-header border-0">
                      <h3 class="mb-0">App users</h3>
                    </div>
                    <div class="table-responsive">
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">User</th>
                            <th scope="col">Login</th>
                            <th scope="col">Status</th>
                            <th scope="col">Photos</th>
                            <th scope="col">Completion</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let obj of rows;let i=index;">
                            <th scope="row">
                              <div class="media align-items-center">
                                <a href="#" class="avatar rounded-circle mr-3">
                                  <img *ngIf="getStatus(obj) === 'Pending'" alt="Image placeholder" src="../../../../../assets/imgs/icons/pending.png">
                                  <img *ngIf="getStatus(obj) === 'Blocked'" alt="Image placeholder" src="../../../../../assets/imgs/icons/blocked.png">
                                  <img *ngIf="getStatus(obj) === 'Inactive'" alt="Image placeholder" src="../../../../../assets/imgs/icons/inactive.png">
                                  <img *ngIf="getStatus(obj) === 'Active'" alt="Image placeholder" src="../../../../../assets/imgs/icons/diamond.png">
                                </a>
                                <div class="media-body">
                                  <span class="mb-0 text-sm">{{obj.name | titlecase}}</span>
                                </div>
                              </div>
                            </th>
                            <td>
                              {{obj.login}}
                            </td>
                            <td>
                              <span class="badge badge-dot mr-4">
                                <i *ngIf="getStatus(obj) === 'Pending'" class="bg-danger"></i> 
                                <i *ngIf="getStatus(obj) === 'Blocked'" class="bg-warning"></i> 
                                <i *ngIf="getStatus(obj) === 'Inactive'" class="bg-secondary"></i> 
                                <i *ngIf="getStatus(obj) === 'Active'" class="bg-success"></i> 
                                {{getStatus(obj)}}
                              </span>
                            </td>
                            <td>
                              <div *ngIf="obj.photos" class="avatar-group">
                                <a *ngFor="let photo of obj.photos;let i=index;" (click)="goDetails(obj)" style="cursor: pointer;" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="{{photo.fileName}}">
                                  <img alt="" style="width: 36px;height: 36px;" src="{{'data:image/jpg;base64,' + photo.photo}}" class="rounded-circle">
                                </a>
                              </div>
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <span class="mr-2">{{getPercentual(obj)}}%</span>
                                <div>
                                  <div class="progress">
                                    <div *ngIf="getStatus(obj) === 'Pending'" class="progress-bar bg-danger" role="progressbar" aria-valuenow="getPercentual(obj)" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+getPercentual(obj)+'%'}}"></div>
                                    <div *ngIf="getStatus(obj) === 'Blocked'" class="progress-bar bg-warning" role="progressbar" aria-valuenow="getPercentual(obj)" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+getPercentual(obj)+'%'}}"></div>
                                    <div *ngIf="getStatus(obj) === 'Inactive'" class="progress-bar bg-secondary" role="progressbar" aria-valuenow="getPercentual(obj)" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+getPercentual(obj)+'%'}}"></div>
                                    <div *ngIf="getStatus(obj) === 'Active'" class="progress-bar bg-success" role="progressbar" aria-valuenow="getPercentual(obj)" aria-valuemin="0" aria-valuemax="100" style="{{'width: '+getPercentual(obj)+'%'}}"></div>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td class="text-right">
                              <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fa fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                  <a class="dropdown-item" (click)="goDetails(obj)">Detail</a>
                                  <a class="dropdown-item" href="#">Inactive</a>
                                  <a class="dropdown-item" href="#">Audit</a>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div *ngIf="pageable" class="card-footer py-4">
                      <nav aria-label="...">
                        <ul class="pagination justify-content-end mb-0">
                          <li *ngIf="pageable.totalPages > 1" [ngClass]="{'disabled': pageable.first}" class="page-item">
                            <a class="page-link" (click)="displayPage(currentPage-1)" tabindex="-1">
                              <i class="fa fa-angle-left"></i>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <ng-container *ngIf="pageable.totalPages > 1"> 
                            <li *ngFor='let number of fakeArray() ;let i = index' class="page-item active">
                              <a class="page-link" (click)="displayPage(i)">{{i}}
                                <span *ngIf="i == pageable.page.pageNumber" class="sr-only">(current)</span>
                              </a>
                            </li>
                          </ng-container>
            
                          <li *ngIf="pageable.totalPages > 1" [ngClass]="{'disabled': pageable.last}" class="page-item">
                            <a class="page-link" (click)="displayPage(currentPage+1)">
                              <i class="fa fa-angle-right"></i>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  

</div>      