<div style="height: 100%;width: 100%;">
    <div class="panelbackground-container">
      <div class="row">  
          <div class="col-sm-6"><h4>{{title | titlecase}}</h4></div>
          <div class="col-sm-6"><button type="button" (click)='backButton()' class="btn btn-secondary btn-rounded float-right mb-2">Back</button></div>

      </div>
            <div class="card-body">
              <div class="border" style="padding: 2%;">
                <form  [formGroup]="questionForm" class="form-group" #f="ngForm" > 
                       
                  <div class="row">
                    
                      <div class="col">
                            <input formControlName="questionID" class="form-check-input " type="hidden" name="questionID" id="questionID">
                            <input formControlName="category" class="form-check-input " type="hidden" name="category" id="category">
                            <app-combobox [warningMsg]="'Category is a mandatory field'" (category)="setupCategory($event)" [inputItem]="categorySelected" [placeholder]="'Select one category'" [list]="itemList"></app-combobox>
                      </div>
        
                  </div>
                  <div class="row mt-2">
                        <div class="col">
                                <input formControlName="question" class="text text-input"  oninput="this.value = this.value.toUpperCase()" type="text" id="question" placeholder="Question">    
                       </div>
                  </div>          
                  <div class="row mt-2">
                    <div class="col">   
                 
                          <div class="form-check form-check-inline">
                                  <label class="form-check-label" >Is Multiple Choice:</label>
                                  <input formControlName="multipleChoice" class="form-check-input ml-2" type="radio" name="multipleChoice" id="multipleChoice1" value="Yes" >
                                  <label class="form-check-label" for="multipleChoice1">Yes</label>
                                  <input formControlName="multipleChoice" class="form-check-input ml-2" type="radio" name="multipleChoice" id="multipleChoice2" value="No">
                                  <label class="form-check-label" for="multipleChoice2">No</label>
                          </div>        
                  
                      </div>
                  </div>
                  <div class="row mt-2">
                    
                    <div class="col">
                          <input formControlName="weight" class="form-check-input " type="hidden" name="weight" id="weight">
                          <app-combobox [isNumber]="'S'" [warningMsg]="'Weight is a mandatory field'" (category)="setupWeight($event)" [inputItem]="weightSelected" [placeholder]="'Select a weight'" [list]="weightList"></app-combobox>
                    </div>
      
                </div>
                <div class="row mt-2">
                    
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <input formControlName="answers" class="form-check-input " type="hidden" name="answers" id="answers">
                            <label class="form-check-label">Answers: {{answersQty}}</label>
                            <button class="btn btn-link" (click)="addNew()">
                                <span class="fa fa-plus"> Add Answer</span>
                              </button>
                        </div>    
                    </div>
      
                </div>
                <div class="row mt-2">
                    <div class="col-sm-6">
                        <app-richtable *ngIf="answersQty > 0" (deleteID)='exclude($event)' [title]="'answers'" [pageable]='pageable' 
                            [tableCols]='answersCols' [onlyDeleteAction]="'true'" [tableLabels]='answersCols' [tableData]='rows' [hideActionColumn]="'false'">
                            </app-richtable>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button type="button" (click)="onSubmit();" title="Create Question" class="btn btn-purple-secondary">&nbsp;&nbsp;&nbsp;Update Question&nbsp;&nbsp;&nbsp;</button>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div *ngIf="submitted && questionForm.controls.category.errors" class="mt-1 form-group alert alert-danger" role="alert">
                            <div *ngIf="submitted && questionForm.controls.category.errors.required">Category is required</div>
                        </div>	             
                        <div *ngIf="submitted && questionForm.controls.question.errors" class="mt-1 form-group alert alert-danger" role="alert">
                            <div *ngIf="submitted && questionForm.controls.question.errors.required">Question is required</div>
                            <div *ngIf="submitted && questionForm.controls.question.errors.minlength">Question must be at least 4 characters</div>
                        </div>	           
                        <div *ngIf="submitted && questionForm.controls.multipleChoice.errors" class="mt-1 form-group alert alert-danger" role="alert">
                            <div *ngIf="submitted && questionForm.controls.multipleChoice.errors.required">MultipleChoice is required</div>
                        </div>	                                     
                        <div *ngIf="submitted && questionForm.controls.weight.errors" class="mt-1 form-group alert alert-danger" role="alert">
                            <div *ngIf="submitted && questionForm.controls.weight.errors.required">weight is required</div>
                        </div>	             
                        <div *ngIf="submitted && questionForm.controls.answers.errors" class="mt-1 form-group alert alert-danger" role="alert">
                            <div *ngIf="submitted && questionForm.controls.answers.errors.required">Answers is required</div>
                            <div *ngIf="submitted && questionForm.controls.answers.errors.min">Question must have at least 2 answers</div>
                        </div>	             
                    </div>

                </div>   
                <div class="row">
                <div class="col">
                    <div class="alert alert-danger" role="alert" *ngIf="submitted && errorMessage">
                        Search failed: {{ errorMessage }}
                        </div>              
                </div>
            </div>
            </form> 
          </div>
        </div>

   
  <br/>
  <app-modal [modalID]="modalId" [hideCloseBtn]="hideBtn" [title]="titleModal"  (clickOK)="confirmOperation()"
  [bgColorTitle]="bgColorTitle" [fgColorTitle]="fgColorTitle" [lblBtnOK]="lablelButton">
  
      <div *ngIf="!showForm" [innerHtml]="content" ></div> 
      <div *ngIf="showForm">    
          <div id="login-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
              <div class="loginmodal-container ">       
          <form  [formGroup]="answerForm" (ngSubmit)="confirmOperation()" class="form-group" #f2="ngForm">
            <input formControlName="weight" class="form-check-input " type="hidden" name="weight" id="weight">
            <app-combobox [isNumber]="'S'" [warningMsg]="'Weight is a mandatory field'" (category)="setupWeightAnswer($event)" [inputItem]="weightAnswerSelected" [placeholder]="'Weight'" [list]="weightList"></app-combobox>
                      <br/>        
                      <input id="name" formControlName="name" type="text" oninput="this.value = this.value.toUpperCase()" name="name" class="form-control" placeholder="Answer" >
                      <div *ngIf="submittedRegister && answerForm.controls.name.errors" class="mt-1 form-group alert alert-danger" role="alert">
                        <div *ngIf="submittedRegister && answerForm.controls.name.errors.required">Answer is required</div>
                        <div *ngIf="submittedRegister && answerForm.controls.name.errors.minlength">Answer must be at least 4 characters</div>
               </div>					  
               <div *ngIf="submittedRegister && answerForm.controls.weight.errors" class="mt-1 form-group alert alert-danger" role="alert">
                    <div *ngIf="submittedRegister && answerForm.controls.weight.errors.required">weight is required</div>
                </div>					  

                      <div class="form-group">
                            <div class="mt-1 alert alert-danger" role="alert" *ngIf="submittedRegister && errorMessage">
                                    Answer failed: {{ errorMessage }}
                            </div>
                      </div> 
            </form>
            </div>
            </div>
    </div>         
