<div class="d-flex justify-content-center align-items-center" style="height:100%;">
    <div id="login-modal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
      <div class="loginmodal-container ">
              <h1>Forgot you Password</h1><br>
              <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-group" #f="ngForm" > 
                        <input id="email" formControlName="email" type="email" name="email" class="form-control" placeholder="Email" >
              <div *ngIf="submitted && loginForm.controls.email.errors" class="mt-2 form-group alert alert-danger" role="alert">
                <div *ngIf="submitted && loginForm.controls.email.errors.required">Email is required</div>
                <div *ngIf="submitted && loginForm.controls.email.errors.email">Email must be a valid email address</div>
            </div>					  
                        <input type="submit" name="login" class="mt-4 login loginmodal-submit" value="Submit">
                        <div class="form-group">
                              <div class="mt-2 alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                                      Failed: {{ errorMessage }}
                              </div>
                        </div> 
              </form>
              <div class="login-help">
                            <a style="cursor: pointer;" (click)="goLogin()">Login page</a>
              </div>
      </div>
  </div>    
  </div>
  <app-modal [modalID]="modalId" [hideCloseBtn]="hideBtn" [title]="titleModal" [adminModule]="'Y'"  (clickOK)="confirmOperation()"
[bgColorTitle]="bgColorTitle" [fgColorTitle]="fgColorTitle" [lblBtnOK]="labelButton">

    <div *ngIf="!showForm" [innerHtml]="content" ></div> 
    <div *ngIf="showForm">    
        <div id="login-modal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="loginmodal-container ">       
          </div>
          </div>
  </div>               
</app-modal>