/* You can add global styles to this file, and also import other style files */
@import url(http://fonts.googleapis.com/css?family=Roboto);

html, body {
    height: 100%;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

.bg-dark-dropdownitem:hover{
  background-color: #e9ecef;
  color:black!important;
}
#myInput {
  background-image: url('assets/imgs/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 90%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  border-radius: .25em;
}

.panelbackground-container {
padding: 30px;
width: 100% !important;
height: 100%!important;
background-color: #F7F7F7;
border-radius: 2px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
overflow: hidden;
overflow-y: scroll;
font-family: roboto;
}

.spinner-message {
    text-align: center;
  }

  .wrapper {
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    z-index: 1040;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
  }
  
  .spinner-wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
  }

  .bg-purple{
    background-color: #8c54a1!important;
  }
  .btn-purple {
    color: #fff!important;
    background-color: #8c54a1 !important;
  }
  
  .btn-purple:hover {
    color: #fff!important;
    background-color: #8e24aa !important;
  }

  .btn-link {
    color: #8c54a1 !important;
  }
  
  .btn-link:hover {
    color: #8e24aa !important;
  }

  .btn-purple-secondary {
    color: #fff!important;
    background-color: #a6c !important;
  }
  
  .btn-purple-secondary:hover {
    color: #fff!important;
    background-color: #8e24aa !important;
  }
  
  input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #8e24aa;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    .btn.focus, .btn:focus {
      outline: 0;
      box-shadow: none!important;
  }

  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #a6c!important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #8e24aa!important;
}

.welcome-cover{
  min-height: 600px;
  background-image: url(assets/imgs/background/welcome-cover.jpg);
  background-size: cover;
  background-position: center top;
}

.bg-gradient-default {
  background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
}

.opacity-8 {
  opacity: .8 !important;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .15s ease;
}

.welcome-title{
  font-size: 1.635rem; 
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: .5rem;
}

.display-2 span {
  font-weight: 300;
  display: block;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-bold {
  font-weight: 600 !important;
}

h1,
h3,
h4,
h5,
h6,
.h1,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: .5rem;
  color: #32325d;
}

h1,
.h1 {
  font-size: 1.625rem;
}

h3,
.h3 {
  font-size: 1.0625rem;
}

h4,
.h4 {
  font-size: .9375rem;
}

h5,
.h5 {
  font-size: .8125rem;
}

h6,
.h6 {
  font-size: .625rem;
}

.display-2 {
  font-size: 2.75rem!important;
  font-weight: 600!important;
  line-height: 1.5!important;
}