<form  [formGroup]="adminUserForm" style="height: 100%;" class="form-group" #f="ngForm" >
<div class="profile-city" >
            <div class="altura95comoverflow main main-raised">
              <button (click)='close()' type="button" class="mr-1 close"><span>×</span></button>  
              <div class="myrow">
                  <div class="titulo mt-4 ml-4"><h4 class="card-title">{{locale.profile_page}}</h4></div>
              </div>
              <div style="height: 100%;" class="myrow">
                <!-- box 1-->
                <div class="mycard" >
                  <ng-container *ngIf="rows?.superUser =='Y'">
                   
                    <ng-container *ngFor="let module of permissions;let j= index;">
                      <div class="mt-2 row">
                              <div class="col"><h6>{{getLocaleFromPermission(module.moduleName)|titlecase}}</h6></div> 
                      </div>
                      <ul>
                            <ng-container *ngFor="let x of module.features;let j= index;">
                                      <div class="row" *ngIf="j%3===0 && j<module.features.length">  
                                              <ng-container *ngFor="let item of module.features;let i= index;">
                                                      <div style="padding-left: 2rem;" class="col-sm-4" *ngIf="i>=j && i < j+3">
                                                        <li class="card-description">{{getLocaleFromPermission(item.name)|titlecase}}</li>                                                            </div>
                                              </ng-container> 
                                      </div>
                            </ng-container>
                        </ul>
                    </ng-container>    
             </ng-container>
                   <ng-container *ngIf="rows?.superUser =='N'">
                          <ng-container *ngFor="let module of permissions;let j= index;">
                            <div class="mt-2 row">
                                    <div class="col"><h6>{{getLocaleFromPermission(module.moduleName)|titlecase}}</h6></div> 
                            </div>
                            <ul>
                                  <ng-container *ngFor="let x of module.features;let j= index;">
                                            <div class="row" *ngIf="j%3===0 && j<module.features.length">  
                                                    <ng-container *ngFor="let item of module.features;let i= index;">
                                                            <div style="padding-left: 2rem;" class="col-sm-4" *ngIf="i>=j && i < j+3">
                                                              <li class="card-description">{{getLocaleFromPermission(item.name)|titlecase}}</li>                                                            </div>
                                                    </ng-container> 
                                            </div>
                                  </ng-container>
                              </ul>
                          </ng-container>    
                   </ng-container>
              </div>
              <!--box 2-->
                <div >
                  <div class="mycard">
                    <h4 class="card-title"><input formControlName="login" class="form-control text text-input"  oninput="this.value = this.value.toLowerCase()" type="text" id="login" placeholder="Login(e-mail)"></h4>
                    <h6 class="card-category text-muted"><input formControlName="name" class="form-control text text-input"  type="text" id="name" placeholder="Name"></h6>

                    
                      <div id="wrapper-eye" style="position: relative;"> 
                        <input formControlName="password" class="form-control text text-input"   [type]="fieldTextType ? 'text' : 'password'" id="password" placeholder="{{locale.profile_newpassword}}">
                        <i style="position: absolute; top: 10px; left: 86%;" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}" (click)="toggleFieldTextType()" class="fa"></i>
                      </div>    
                    <p class="card-description">
                        {{locale.profile_passwordinfo0}}
                    </p>
                    <ul class="card-description"> 
                        <li>{{locale.profile_passwordinfo1}}</li>
                        <li>{{locale.profile_passwordinfo2}}</li>
                        <li>{{locale.profile_passwordinfo3}}</li>
                        <li>{{locale.profile_passwordinfo4}}</li>
                        <li>{{locale.profile_passwordinfo5}}</li>
                    </ul>

                </div>
  
              </div>
              <!-- box 3-->
              <div >
                  <div class="mycard card-container-flex">
                      <img *ngIf="rows?.photo?.length <=0" class="img-profile" src="../../../../../assets/imgs/img_avatar.png">
                      <img *ngIf="rows?.photo?.length > 0"  class="img-profile" src="{{rows.photo}}">

                    <input formControlName="file" id="file" type="file" class="mt-2 form-control" (change)="onFileChange($event)">
                    <button class="mt-4 btn btn-secondary" (click)="onSubmit()">{{locale.profile_update}}</button>
                  </div>
                
              </div>
  </div></div>

</div>   
</form> 
    <app-modal [modalID]="modalId" [hideCloseBtn]="hideBtn" [title]="titleModal" [adminModule]="'Y'"  (clickOK)="confirmOperation()"
    [bgColorTitle]="bgColorTitle" [fgColorTitle]="fgColorTitle" [lblBtnOK]="labelButton" [hideAction]="hideAction">
    
        <div *ngIf="!showForm" [innerHtml]="content" ></div> 
        <div *ngIf="showForm">    
            <div id="login-modal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="loginmodal-container ">       
              </div>
              </div>
      </div>               
    </app-modal>